extends layouts/default

block head
	link(rel='stylesheet', href='/css/style#{fileExtn}.css')
	title Snakes and Ladders
	include modals/memeModal

block content
	include includes/gameTitle
	include includes/gameMode
	include includes/gameSelect
	include includes/gameBox

block js
	script(src='js/utils/jquery#{fileExtn}.js')
	script(src='js/utils/bootstrap#{fileExtn}.js')
	script(src='js/utils/jquery-ui#{fileExtn}.js')
	script(src='js/interaction#{fileExtn}.js')
	script(src='/socket.io/socket.io.js')
	script(type='text/javascript').
		$(document).ready(function () {
			gamePlay.initSnakeLadderGame();
		});